<!DOCTYPE html>
<html lang="cz">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>StockX</title>
        <link rel="stylesheet" href="static/main.css">
        <link rel="icon" href="/static/candlestick.png">
    </head>
    <body>
        <div class="header">
            <h1>StockX</h1>
            <H4>{{ info }}</H4>
        </div>
    <body>
</html>
