body {background-color: rgb(255, 255, 255);}


.header {
    padding: 70px;
    text-align: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 25px;
  }